/*
 * @Description: 尺寸变量
 * @Author: F-Stone
 * @LastEditTime: 2022-06-16 15:51:17
 */

/* ---------------------------------- */
/*               global               */
/* ---------------------------------- */
$design-w: 1920px;
$content-w: 1920px;
$content-space: 4.2%;

/* ---------------------------------- */
/*              nav-size              */
/* ---------------------------------- */
$nav-h-default: 98px;
$nav-h-mini: 78px;
$nav-h-shirk: 78px;
