/* ---------------------------------- */
/*                color               */
/* ---------------------------------- */
$t-c-default: #2d2b32;
$t-c-lighter: #666;

/* ---------------------------------- */
/*                size                */
/* ---------------------------------- */
$t-s-default: 14px;

/* ---------------------------------- */
/*             line-height            */
/* ---------------------------------- */
$t-lh-default: 1.5;

/* ---------------------------------- */
/*             font-family            */
/* ---------------------------------- */
