/*
 * @Description: 尺寸变量
 * @Author: F-Stone
 * @LastEditTime: 2022-06-16 15:51:17
 */

/* ---------------------------------- */
/*               global               */
/* ---------------------------------- */
$design-w: 1920px;
$content-w: 1536px;
$content-space: 6%;

/* ---------------------------------- */
/*              nav-size              */
/* ---------------------------------- */
$nav-h-default: 102px;
$nav-h-mini: 80px;
$nav-h-shirk: 63px;
