// 下拉菜单元素
$zindex-dropdown: 1000;
// sticky 元素
$zindex-sticky: 1020;
// 定位元素
$zindex-fixed: 1030;
// 覆盖层元素的背景
$zindex-modal-backdrop: 1040;
// 覆盖层元素
$zindex-modal: 1050;
// 弹窗元素
$zindex-popover: 1060;
// 提示框元素
$zindex-tooltip: 1070;
