@import url("../fonts/icon-font/iconfont.css");
@import url("../fonts/icon-font/iconfont-color.css");
@font-face {
    font-family: "BodoniBold";
    font-weight: 700;

    src: url("../fonts/Bodoni-Bold.woff");
}
@font-face {
    font-family: "SourceHanSerifCN";
    font-weight: 400;

    src: url("../fonts/SourceHanSerifCN-Regular.woff");
}
@font-face {
    font-family: "SourceHanSerifCN";
    font-weight: 600;

    src: url("../fonts/SourceHanSerifCN-SemiBold.woff");
}
@font-face {
    font-family: "SourceHanSerifCN";
    font-weight: 700;

    src: url("../fonts/SourceHanSerifCN-Bold.woff");
}
@font-face {
    font-family: "SourceHanSerifTW";
    font-weight: 400;

    src: url("../fonts/SourceHanSerifTW/SourceHanSerifTW-Regular.otf");
}
@font-face {
    font-family: "SourceHanSerifTW";
    font-weight: 600;

    src: url("../fonts/SourceHanSerifTW/SourceHanSerifTW-SemiBold.otf");
}
@font-face {
    font-family: "SourceHanSerifTW";
    font-weight: 700;

    src: url("../fonts/SourceHanSerifTW/SourceHanSerifTW-Bold.otf");
}
@font-face {
    font-family: "SourceHanSansCN";
    font-weight: 700;

    src: url("../fonts/SourceHanSansCN-Bold.woff");
}
@font-face {
    font-family: "SourceHanSansCN";
    font-weight: 500;

    src: url("../fonts/SourceHanSansCN-Medium.woff");
}
@font-face {
    font-family: "SourceHanSansCN";
    font-weight: 300;

    src: url("../fonts/SourceHanSansCN-Regular.woff");
}
@font-face {
    font-family: "SourceHanSansCN";
    font-weight: 400;

    src: url("../fonts/SourceHanSansCN-Regular.woff");
}
@font-face {
    font-family: "SourceHanSansTW";
    font-weight: 700;

    src: url("../fonts/SourceHanSansTW/SourceHanSansTW-Bold.otf");
}
@font-face {
    font-family: "SourceHanSansTW";
    font-weight: 500;

    src: url("../fonts/SourceHanSansTW/SourceHanSansTW-Medium.otf");
}
@font-face {
    font-family: "SourceHanSansTW";
    font-weight: 300;

    src: url("../fonts/SourceHanSansTW/SourceHanSansTW-Regular.otf");
}
@font-face {
    font-family: "SourceHanSansTW";
    font-weight: 400;

    src: url("../fonts/SourceHanSansTW/SourceHanSansTW-Regular.otf");
}
@font-face {
    font-family: "Inter";
    font-weight: 700;

    src: url("../fonts/Inter-Bold.woff");
}
@font-face {
    font-family: "Inter";
    font-weight: 500;

    src: url("../fonts/Inter-Regular.woff");
}
@font-face {
    font-family: "Poppins";
    font-weight: 500;

    src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: "Poppins";
    font-weight: 700;

    src: url("../fonts/Poppins-Bold.woff");
}
@font-face {
    font-family: "Times-Roman";
    font-weight: 700;

    src: url("../fonts/Times-Roman.ttf");
}
